body, html {
  margin:0;
  padding:0;
  color:#000;
  background:#ccc;
  font-family: monospace;
}

h1, h3 {
  text-align: center;
}

div {
  display: inline;
}

div img {
  width: 100%;
}

#content {
  width: 750px;
  margin: 0 auto;
}

#sidebar {
  float: left;
  width: 250px;
  background: #999;
  padding: 15px;
  margin-left: 50px;
}

#main {
  float: left;
  display: block;
  width: 500px;
  padding: 0 15px;
  margin-right: 10px;
}

#cat {
  width: 100%;
}

#cat h3 {
  background: #999;
  margin-top: 0;
  padding: 20px 0px;
}

#score {
  display: block;
  margin-bottom: 25px;
}

#admin {
  display: block;
  width: 100%;
}

#admin button, input.cancel, input.save {
  background: #555;
  color: #fff;
  border: 0;
  float: right;
  font-family: monospace;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-size: 1em;
}

#admin button {
  margin-left: 100%;
  margin-bottom: 15px;
  top: -15px;
}

#admin button:hover {
  background: #000;
}

#admin-settings {
  margin-top: 20px;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

input {
  margin-bottom: 10px;
  width: 75%;
}

input:focus {
  border: 2px solid #555;
}

input.cancel, input.save  {
  width: auto;
}

div.alert {
  display: inline;
  width: 75%;
  padding: 10px 15px;
  margin-top: 20px;

}

div.alert.saved {
  background: green;
}

div.alert.canceled {
  background: red;
}

div.alert.added {
  background: blue;
}
